<div>
    <h4>Contact Developer</h4>
    <ul style="list-style:none">
        <li><i class="fas fa-phone"></i> <a href="tel:+251992932031" style="color:#94a3b8;text-decoration:none">0992932031</a></li>
        <li><i class="fas fa-envelope"></i> <a href="mailto:dubadida90@gmail.com" style="color:#94a3b8;text-decoration:none">dubadida90@gmail.com</a></li>
        <li><i class="fab fa-telegram"></i> <a href="https://t.me/duba9293" target="_blank" style="color:#94a3b8;text-decoration:none">@duba9293</a></li>
    </ul>
</div>
